In [ ]:
# Ponemos como ruta principal la carpeta padre de "soluciones"
# para que las rutas relativas queden igual que en la carpeta de notebooks
import paths

# Otras dependencias
import pandas as pd

### Ejercicio

* Carga en un dataframe de pandas el csv `dat/alquiler-madrid-municipios.csv` en una variable que se llame `alquiler_municipios`
* Examina las primeras y últimas filas
* Extrae el número de filas y columnas

In [ ]:
# Lectura en un dataframe del fichero CSV
alquiler_municipios = pd.read_csv("dat/alquiler-madrid-distritos.csv")

# Examino las primeras filas
alquiler_municipios.head()

In [ ]:
# Examino las últimas filas
alquiler_municipios.tail()

In [ ]:
# Extraigo el número de filas y columnas: (filas, columnas)
alquiler_municipios.shape

#### Ejercicio

* Muestra las primeras 5 filas usando `iloc`
* Muestra las últimas 5 filas usando `iloc`

#### Ejercicio

Muestra sobre `alquiler_nuevo_indice` las filas para distrito `Retiro` y año 2012.

#### Ejercicio

Extrae los nombres de los distritos cuyo precio por metro cuadrado es superior a 15€ en el año y trimestre más reciente del que tenemos datos (míralo imprimiento las últimas filas de la tabla).

In [ ]:
# 1. Imprime las últimas filas de la tabla

In [ ]:
# 2. Haz el filtro. Una vez hecho, saca solo la columna distrito

#### Ejercicio

Extrae de mayor a menor por precio las filas de la tabla para Tetuán a partir del año 2017.

#### Ejercicio

Crea una nueva columna `precio_120m` sobre `alquiler_2` que represente el precio de 120 metros cuadrados, pero utilizando `apply` y una función `lambda`.

#### Ejercicio

Extrae los cuantiles 0.1 y 0.9 del precio para el distrito `Tetuan`.

#### Ejercicio

Extrae el precio máximo histórico para cada distrito a partir del 2010

#### Ejercicio

* Carga en un DataFrame el CSV `dat/venta-madrid-distritos.csv`
* Crúzalo con el que ya tenemos de alquiler. El objetivo es tener, para cada distrito, año y cuatrimestre, tanto el precio de alquiler como el de venta del metro cuadrado. Para saber cómo poner sufijos a las columnas que colisionan en el cruce, mira la documentación de `merge`.
* Extrae los precios medios de venta y alquiler por distrito para todo el histórico
* Extrae, para el año y cuatrimestre más reciente del que haya datos, el distrito donde es más rentable comprar una vivienda para destinarla a alquiler. Es decir, con el ratio precio alquiler / precio venta más alto.